<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body>
        <%- include('../partials/flashPartials.ejs') %>
        <main class="main">
            <section class="upper">
                <div class="left-profile">
                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D"
                        alt="" class="profile-photo">
                </div>
                <div class="middle-profile">
                    <div class="fullname">
                        <p><b><%= s.personalDetails.fullName %></b></p>
                    </div>
                    <div class="details">
                        <p><%= s.personalDetails.email %></p>
                        <p><%= s.personalDetails.branch %></p>
                        <p>Government college of engineering Jalgaon</p>
                        <p><b>Placement Status : </b> <%= s.personalDetails.placementStatus %></p>
                    </div>


                </div>
                <div class="right-profile">
                    <!-- resume link when viewing 
                    logout and edit for the user -->
                    <% if(currentUser.sID.equals(s._id)) {%>
                    <a href="/dashboard" class="logout-btn">Dashboard</a>
                    <a href="/profile/<%= s._id %>/edit" class="logout-btn" role="button">Edit</a>
                    <a href="/logout" class="logout-btn">log out</a>
                    <% }else{ %>
                    <button class="logout-btn" role="button">Resume </button>
                    <% } %>


                </div>
            </section>
            <section class="lower">
                <section class="skills">
                    <p><b>Major Skills : </b><%= s.personalDetails.skills %></p>
                </section>
                <div class="inner-lower">
                    <section class="projects">
                        <% if(s.projects.length < 1 && currentUser.sID.equals(s._id)){ %>
                        <p>No projects tO show</p>
                        <a href="/profile/<%= s._id %>/add-project" class="logout-btn" role="button">Add Projects</a>
                        <% } else { %>
                        <% for(project of s.projects){ %>

                        <div class="card">
                            <div class="top">
                                <p class="card-title"><%= project.projectName %></p>
                                <% if(currentUser.sID.equals(s._id)){ %>
                                <form action="/project/<%= project._id %>/<%= s._id %>/delete?_method=DELETE"
                                    method="post">
                                    <button class="btn-delete">delete</button>
                                </form>
                                <% } %>
                            </div>
                            <p class="card-description"><%= project.projectDescription.substring(0, 90) %>...</p>
                        </div>
                        <% } %>
                        <% if(s.projects.length < 2 && currentUser.sID.equals(s._id) ){ %>
                        <a href="/profile/<%= s._id %>/add-project" class="logout-btn" role="button">Add Projects</a>
                        <% } %>
                        <% } %>
                    </section>
                    <section class="socials">
                        <a href="<%= s.onlineProfiles.twitter %>">
                            <i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #050505;">
                            </i></a>
                        <a href="<%= s.onlineProfiles.linkedIn %>"> <i class="fa-brands fa-linkedin fa-2xl"
                                style="color: #144366;">
                            </i></a>
                        <a href="<%= s.onlineProfiles.gitHub %>"> <i class="fa-brands fa-square-github fa-2xl"
                                style="color: #0f0f0f;">
                            </i></a>


                    </section>
                </div>
            </section>
        </main>

    </body>

</html>


<!-- HTML !-->